.feed
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#feed-waiting
{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img
    {
        display: inline-block;
        width: 20vw;
        height: 20vw;
        margin:0 auto;
    }
    h2{
        display: inline-block;
        margin:0 auto;
    }
}

#infinity-scroll-gap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    width: 100%;
}

#loading-svg
{
    height: 100px;
}