#search-section
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height:50vh;
    background-image: url(https://images.unsplash.com/photo-1470173274384-c4e8e2f9ea4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f8bf185da8d21fad65f2636d6021ba7&auto=format&fit=crop&w=1350&q=80);
    background-position: center center;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

.slider
{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;

    bottom:0;
    left:100%;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center center;
    transition: ease-in left 0.2s;
}
.slider.calm
{
    transition: left 0s;
}


#search-input
{
    display: block;
    z-index: 2;
    min-width: 200px;
    height: 30px;
    padding: 0 5px;
    margin: 0 auto;
}

.background-filter
{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0,0,0,0.4);
}

#landing_message
{
    z-index: 2;
    color: white;
    text-align: center;
}
